.btn {
    border: none;
    font-family: 'fantasy';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0, 30s;
    -moz-transition: all 0, 3;
}

.btn:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.btn-sep {
    padding: 25px 60px 25px 120px;
}

.btn-sep:before {
    background: #780808;
}

.btn-1 {
    background: rgb(49, 18, 80);
    color: #fff;
}

.btn-1:hover {
    background: #a90303;
}

.btn-1:active {
    background: #3f1c1c;
    top: 2px;
}

.btn-1:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

.btn-2 {
    background: rgba(30, 150, 130, 0.8);
    color: #a90303;
}

.btn-2:hover {
    background: rgba(15, 104, 70, 0.8);
}

.btn-2:active {
    background: rgba(35, 85, 77, 0.8);
    top: 2px;
}

.btn-2:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

.btn-3 {
    background: rgb(85, 144, 26);
    color: thistle;
}

.btn-3:hover {
    background: rgba(26, 23, 49, 0.8);
}

.btn-3:active {
    background: rgba(0, 0, 0, 0.8);
    top: 2px;
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

.btn-4 {
    background: rgb(65, 37, 97);
    color: rgb(181, 201, 189);
}

.btn-4:hover {
    background: rgba(104, 59, 59, 0.8);
}

.btn-4:active {
    background: rgba(70, 0, 34, 0.8);
    top: 2px;
}

.btn-4:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

.icon-info:before {
    content: "\f07a";
}

.icon-cart:before {
    content: "\f55a";
}

.icon-sell:before {
    content: "\f05a";
}

.icon-send:before {
    content: "\f1b8";
}