body{
        background-image: url(https://media.istockphoto.com/id/1198334973/vector/falling-american-dollar-bills-seamless-pattern-on-white-background.jpg?s=612x612&w=0&k=20&c=YmRnfuNww1Mn6Ezy7_sWWJHx113BfDxsDWyRaVMhAN0=);
}
button{
    position:absolute;
    top: 40%;
    left: 37%;
    font-size: x-large;
    color: gold;
    background-color: black;
}